<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  <%= session[:user_name] %></a>
	<div class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdownMenuLink">
		<%= link_to "Đăng xuất",session_path(session[:user_id]), method: :delete, class: "dropdown-item" %>
	</div>
</li>